<div class="submit-form">
    <input type="file" id="file" name="file" required>
    <label for="file">Select files</label>
    <label for="file" class="button">Upload</label>
    <input type="submit" class="file-submit button" value="Submit"></input>
</div>
<img class="landing-image landing-image-sharp" src="/static/landing-river.jpg" />
<img class="landing-image landing-image-blur" src="/static/landing-river.jpg" />

<style>
    html,
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #383e42;
        overflow: hidden;
        letter-spacing: 2px;
    }

    .landing-image {
        position: absolute;
        object-fit: cover;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }

    .landing-image-sharp {
        z-index: -2;
        opacity: 1;
    }

    .landing-image-blur {
        z-index: -1;
        filter: blur(2px);
        opacity: 0;
        transition: opacity 0.5s;
    }

    .submit-form:hover ~ .landing-image-blur {
        opacity: 1;
    }

    .submit-form {
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: #383e42;
        color: #c7c1bd;
        margin: 10px;
        padding: 10px;
        z-index: 4;

        width: 350px;
        border-radius: 3px;

        transition: background-color 0.5s;
    }

    .submit-form:hover {
        background-color: #3e4447;
    }

    .submit-form input {
        margin-bottom: 15px;
    }

    .submit-form label,
    .submit-form input {
        display: block;
    }

    input[type=file] {
        display: none;
    }

    input[type=file]:valid ~ label:nth-of-type(2) {
        color: rgb(166, 253, 166);
    }

    input[type=file]:invalid ~ label:nth-of-type(2) {

    }

    label.button {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .button.file-submit {
        width: 100% !important;
    }

    .button {
        width: auto !important;
        background-color: #008080;
        padding: 10px;
        margin: 0;
        border: 0;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        border-radius: 3px;
        color: #c7c1bd;

        transition: background-color .2s;
    }

    .button:hover {
        background-color: rgb(0, 109, 109);
        box-shadow: 2px 2px 5px 1px inset rgba(0, 0, 0, 0.3);
    }
</style>

<script>
    $(function () {
        $(".file-submit").on("click", function (e) {
            var fileInput = $("#file");
            var file = fileInput.get(0).files[0];
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                url: "/i",
                method: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.shouldShow)
                        window.location.href = res.file;
                    else
                        window.alert("Success!");
                }
            });
        });
    });
</script>